*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1340px;
    height: 1000px;
    background:  url("img/fondo1.jpg");/*#252120*/
    margin: 0.5em auto;
    padding: 0.5em;    
}

#idioma{
    width: 10px;
    height: 20px;
    /*background: rgba(8,54,138,0.7)/*#08488A;*/
    /*color: /*#fff*/
    top: 0.1%;
    /*left: 70%;*/
    /*right: 70%;
    /*position: relative;*/
    /*top:-300px;*/
    /*right:1000px;*/
    transform: translate(12500%,-800%);
}

#cabecera{
    width: 100%;
    height: 17%;
    /*background: /*#565a5b*/
    margin: 0.5em;  
}

#logo{
    width:20%;
    height:80%;    
    margin: 0.5em;
    float: left;          
}

#header{
    /*width: 70%;    
    margin: 0.7em;
    float: right;
    padding: 1%;    */

    width: 70%; 
    height:40%;
    /*background: /*#565a5b*/  
    margin: 0.9em;
    float: right;
    padding: 0.8%;           
}        

#nav{
    height: 5%;
    margin: 0.5em;               
}

#contenido{
    height: 48%;
    /*background:/*#2874a6*/;
    margin: 0.5em;                
}

#footer{
    height: 15%;   
    border-radius: 0.2em;
    margin: 5em;
    font-weight: normal;             
}

body {
    font-family: "Century Gothic";
    font-weight: bold;
    color: White;
}

h1 {
    color: black;
    font-family: Century Gothic;
}

h2 {
    color: white;
    font-family: Century Gothic;
}

.login-box{
    width: 500px;
    height: 500px;
    background: rgba(8,54,138,0.7)/*#08488A*/;
    /*color: /*#fff*/
    top: 0.1%;
    left: 70%;
    position: relative;
    top:-300px;
    left:1000px;
    transform: translate(-50%,-53%);
    box-sizing: border-box;
    /*box-shadow: 0 15px 25px rgba(8,72,138,0.5);*/
    padding: 70px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom:20px;
}
::placeholder{
    color: rgba(137,146,157,0.8);
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #FFF;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #DF8153/*#1c8adb*/;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="button"]:hover
{
    cursor: pointer;
    background: #14B073/*#39dc79*/;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}

.entry {
    text-align: justify;
    width: 620px;
    margin: 0px;
    padding: 40px 30px 0px 30px;

}

form input[type="submit"]{
    width:20%;
    padding:6px 16px;
    margin-top:12px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#000;
    background-color:#DF8153/*867C77*/;

} 

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #08488A/*#565a5b*/;
}

  li {
    float: center;
   
}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
